/* SurgeryList.css */

.surgery-list {
    padding: 20px;
  }
  
  .surgery-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  @media (min-width: 600px) {
    .surgery-cards {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
    }
  }